<!-- templates/navbar.html -->
<nav class="navbar navbar-expand-lg navbar-light bg-light shadow-sm">
    <div class="container">
        <a class="navbar-brand" href="index.html">
            <h1 class="logo">Cakes by Varsha</h1>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link NAV_HOME_ACTIVE" href="index.html">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link NAV_ABOUT_ACTIVE" href="about.html">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link NAV_CONTACT_ACTIVE" href="contact.html">Contact</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
